<% include ../partials/header %>

	<h1>RECIPE PAGE</h1>
	<p><%= profileImage %></p>
	<br />
	<p><%= profileName %></p>
	<br />
	<p><%= recentCalorie %></p>
	<br />
	<p><%= recipeHealthyImage %></p>
	<br />
	<p><%= recipeHealthyName %></p>
	<br />
	<p><%= recipeHealthyURL %></p>
	<br />
	<p><%= recipeFattyImage %></p>
	<br />
	<p><%= recipeFattyName %></p>
	<br />
	<p><%= recipeFattyURL %></p>
	<br />

<% include ../partials/footer %>